<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Create a new Wiki</h1>
      <h5>Wikibloc accepts <a href="http://assemble.io/docs/Cheatsheet-Markdown.html">Markdown syntax</a></h5><br />
      <%= render partial: 'form', locals: { wiki: @wiki } %>
    </div>
  </div>
</div>
